/*
====================
Global Styling
====================
*/

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 1% 10% 1% 10%;
}


/*
====================
Widget Styling
====================
*/

* {
    transition-duration: 0.4s;
}

button, .button {
    background-color: #f9bc33;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 15px;
    cursor: pointer;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
}

button:hover, .button:hover {
    border: 2px solid #FFE19D;
    background-color: #FFF3B0;
}

input {
    width: 50%;
    height: 20px;
    border: 2px rgb(200, 114, 0) solid;
	padding: 5px;
	font-size: 14px;
	margin: 5px;
}

select {
    width: 50%;
    height: 35px;
    border: 2px rgb(200, 114, 0) solid;
	padding: 5px;
	font-size: 14px;
	margin: 5px;
}

#rating1, #rating2, #rating3 {
    width: 60px;
}

/*
====================
Main Content
====================
*/

.filled-container {
    background-color: #FFF3B0;
    border-radius: 10px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container {
    border: 2px solid #FFE19D;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10%;
}

.center {
    text-align: center;
}

.vertical-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-box > *, .horizontal-box > *  {
    margin: 10px 10px 10px 10px;
}
